<h2>Articles</h2>
<div class="row">
  <% @articles.each do |article| %>
  <% order_class = article.id > 40 ? "order-first" : "" %>
    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 <%= order_class %> mb-4">
      <div class="card p-2">
        <%= link_to article_path(article) do %>
          <h4><%= article.title %></h4>
          <% end %>
          <!-- Button trigger modal -->
       
          
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <%= image_tag article.picture, class: "img-thumbnail" %>
            </div>
          </div>
           <span data-toggle="modal" data-target="#exampleModal" class="pb-2">
            <%= image_tag article.picture, class: "img-thumbnail" %>
          </span>

        <p> <%= article.body.first(20) %> ...</p>
      </div>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Article', new_article_path %>
